body
{
font-family:b morvarid;
display:inline;
background-color:#e2e6d9;
}
.header
{
background-color:#808000;
padding:16px;
font-size:18px;
}
li
{
display:inline;
padding:20px;
color:white;
}

a:link{
color: #ffffff;	 
}
a:visited{
color: #ffffff;	
}
a:hover{
color: #ffffff;	
}
a:active{
color: #333333;
}

.foder
{
color:white;
}


.tabpic:hover {
  background-color: #000000;
  opacity:30%;
}